* {
    box-sizing: border-box;
}

body {
    background-color:rgb(119, 118, 211);
}



.slider-container {
    
    max-width: 600px;
    margin: 0 auto
    

}

.slide-container {
    border: 10px solid white;
    
}


.slide-container img {
    max-width: 100%;
}