body {
    margin: 0;   
}

nav {
    background-color: rgb(75, 71, 71); 
   
}

.container {
    max-width: 1200px;
    margin: 0 auto;      
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-img {
    margin: 0 auto;
    max-width: 1200px;    
}

.container-flex {
    display: flex;
}

.ulnav {
    display: flex;
    list-style: none;
    justify-content: space-around;    
}

.anav {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Signika', sans-serif;     
}

.Box1 {
    width: 40%;    
}

.Magyar {
    font-size: 35px;
    padding-left: 10px;
    font-family: 'Signika', sans-serif;
}


.Box2 {
    width: 60%;  
    padding-top: 10px;     
}

.section1 {
    background-color: black;
}

.container-img {
    margin: auto;
    background-color: darkgray;
    width: 1200px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 1200px;
    height: 500px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: darkgray;
    transition: opacity 0.5s;
}

ul.slider li img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.containermenu {
    background-color: white;
}

.menu {
    text-align: center; 
}

.menu li {
    text-align: center;
    display: inline-block;
    margin: 15px;
    padding-bottom: 10px;
}

.menu li a {
    display: inline-block;    
    text-decoration: none;
    color: grey;
    background-color: grey;    
    padding: 10px;
    height: 1px;
    width: 1px;
    font-size: 1px; 
    border-radius: 100%;    
}

.container-cards {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.container-flexcards {
    display: flex;
    justify-content: space-between;
}


.card {
    width: 280px;    
    border-radius: 10px 0 10px 0;
    box-shadow: 0 4px 4px black;
    background-color: black; 
    margin: 10px;
}

img {
    max-width: 100%;  
    border-radius: 10px 0 0 0;  
    height: 210px;
}

.card-title {
    text-align: center;
}

.acard {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    margin-left: 10px;
    padding-top: 10px;
}

.container-text1 {
    max-width: 1200px;
    margin: 0 auto;
    color: black; 
    text-align: center;
    
         
}

h3 {
    padding-top: 25px;
    font-family: 'Signika', sans-serif; 
    color: white;    
}

p {
    font-family: 'Signika', sans-serif;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;    
}

.section3 {
    background-color: black;
}

.section4 {
    background-color: rgb(216, 216, 216);
}

.container-text2 {
    max-width: 1200px;
    margin: 0 auto;
    color: black;
    text-align: center; 
    padding-bottom: 20px;
        
}

.container-text3 {
    max-width: 1200px;
    margin: 0 auto;
    color: black;
    text-align: center; 
    padding-bottom: 30px;
        
}
.pregunta {
    font-family: 'Signika', sans-serif; 
    color: black;  
}

.ulpregunta {
    font-family: 'Signika', sans-serif; 
    color: black; 
    padding-left: 0px;
    display: flex;
   
}

.scale:hover {
    transform: scale(1.1);
}



.ulcontacto {
    font-family: 'Signika', sans-serif; 
    color: white; 
    display: inline-block;
    margin: 0 auto;
    padding-left: 0px;
}

footer {
    background-color: rgb(75, 71, 71);     
}

.social {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.Box3 {
    width: 50%;
    
}

.Box4 {
    width: 50%;
    text-align: center;    
}

@media (max-width: 992px) {
    .ulnav {
        flex-direction: column;
        text-align: center;
    }
    .container-flexcards {
        flex-direction: column;
        align-items: center;
    }

    .Magyar {
        font-size: 30px;
        display: block;
        align-items: center;
    }
    .Box1 {
        align-items: center;
    }
}

@media (max-width: 768px) {
    .ulnav {
        flex-direction: column;
        text-align: center;
    }
    .container-flexcards {
        flex-direction: column;
        align-items: center;
    }
    .Magyar {
        font-size: 28px;
        display: block;
        align-items: center;
    }
    .Box1 {
        align-items: center;
    }
    

    


}








