* {
    box-sizing: border-box;
}

body {
    margin: 0;   
    font-family: 'Signika', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
}

.container-flex {
    display: flex;
    align-items: center;
}

nav {
    background-color: rgb(75, 71, 71);    
}

ul {
    list-style: none;    
    padding: 0;
    margin: 0;
}

.ulnav {    
    justify-content: space-around;   
    display: flex; 
}

a {
    text-decoration: none;
}

.anav {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;   
}    

.Box1 {
    width: 40%;    
}

.Magyar {
    font-size: 35px;
    margin: 10px 0 10px 15px;
    color: white;
    font-weight: 400;
}

.Box2 {
    width: 60%;  
}

.section1 {
    background-color: black;
}

.container-img {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}

.slider {
    position: relative;
    height: 500px;
}

.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: darkgray;
    transition: opacity 0.5s;
}

.slider li img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.containermenu {
    background-color: white;
}

.menu {
    text-align: center; 
}

.menu li {
    display: inline-block;
    margin: 15px;    
}

.menu li a {
    display: inline-block;    
    text-decoration: none;
    color: grey;
    background-color: grey;    
    padding: 10px;
    height: 1px;
    width: 1px;
    font-size: 1px; 
    border-radius: 100%;    
}


footer {
    background-color: rgb(75, 71, 71);     
}

.social {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Box3 {
    width: 50%;
}

.Box4 {
    width: 50%;
    text-align: center;    
}

@media (max-width: 992px) {

    .slider {
        position: relative;
        height: 500px;
        max-width: 100%;
    }

    .ulnav {
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container-flexcards {
        flex-direction: column;
        align-items: center;    
    }
    .Magyar {
        padding-top: 10px;
        font-size: 28px;
        display: block;
        margin-right: 10px;  
    }
    .Box1 {
        align-items: center;
        padding-left: 20px;
    }    
    .ulpregunta {
        flex-direction: column;
        text-align: center;        
    }  
    
}

@media (max-width: 768px) {
    
    .slider {
        position: relative;
        height: 500px;
        max-width: 100%;
    }
    .ulnav {
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container-flexcards {
        flex-direction: column;
        align-items: center;
    }
    .Magyar {
        padding-top: 10px;
        font-size: 28px;
        display: block;
        margin-right: 10px;       
    }
    .Box1 {
        align-items: center;
        padding-left: 20px;
    } 
    .ulpregunta {
        flex-direction: column;
        text-align: center;        
    }     
     
}








